# ETIC on children development

In [1]:
import pandas as pd

In [2]:

data = pd.io.stata.read_stata('dahl2012/MS20050400_data/main.dta')
data.to_csv('dahl2012.csv')

In [3]:
data.head()

,idchild,weight8600,momid,year,hrswrinew,wksuni,totamud,totamusd,totwead,cpi,...,ss52,sped0mm2,sped1mm2,sped2mm2,sped3mm2,sped4mm2,ddd1,ddd3,ageofsnew,spmissage
0,201.0,821916.0,2,1996,NaN,NaN,NaN,NaN,NaN,2.211,...,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0
1,202.0,816447.0,2,1997,0.0,0.0,0.0,0.0,0.0,2.245,...,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0
2,301.0,370619.0,3,1985,0.0,0.0,0.0,0.0,0.0,1.510,...,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,24.0,0.0
3,302.0,343291.0,3,1984,460.0,0.0,0.0,0.0,0.0,1.482,...,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,23.0,0.0
4,303.0,389548.0,3,1987,294.0,0.0,0.0,0.0,0.0,1.629,...,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,26.0,0.0

In [6]:
data.tail(10)

,idchild,weight8600,momid,year,hrswrinew,wksuni,totamud,totamusd,totwead,cpi,...,ss52,sped0mm2,sped1mm2,sped2mm2,sped3mm2,sped4mm2,ddd1,ddd3,ageofsnew,spmissage
91857,1266703.0,43385.0,12667,1992,2042.0,0.0,0.000000,0.0,0.0,1.990,...,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
91858,1266703.0,43385.0,12667,1987,1382.0,0.0,437.060699,0.0,0.0,1.629,...,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,28.0,0.0
91859,1266703.0,43385.0,12667,1991,2058.0,0.0,0.000000,0.0,0.0,1.933,...,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
91860,1266703.0,43385.0,12667,1986,1646.0,0.0,0.000000,0.0,0.0,1.565,...,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,26.0,0.0
91861,1266703.0,43385.0,12667,1998,NaN,NaN,NaN,NaN,NaN,2.295,...,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,58.0,0.0
91862,1266703.0,43385.0,12667,1988,1200.0,0.0,0.000000,0.0,0.0,1.708,...,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,29.0,0.0
91863,1266703.0,43385.0,12667,1996,NaN,NaN,NaN,NaN,NaN,2.211,...,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,56.0,0.0
91864,1266703.0,43385.0,12667,1994,NaN,NaN,NaN,NaN,NaN,2.099,...,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,55.0,0.0
91865,1266703.0,43385.0,12667,1995,2080.0,0.0,0.000000,0.0,0.0,2.161,...,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,56.0,0.0
91866,1266703.0,43385.0,12667,1993,2080.0,0.0,0.000000,0.0,0.0,2.041,...,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
data.columns

Index(['idchild', 'weight8600', 'momid', 'year', 'hrswrinew', 'wksuni',
       'totamud', 'totamusd', 'totwead', 'cpi',
       ...
       'ss52', 'sped0mm2', 'sped1mm2', 'sped2mm2', 'sped3mm2', 'sped4mm2',
       'ddd1', 'ddd3', 'ageofsnew', 'spmissage'],
      dtype='object', length=162)

In [9]:
for col in data.columns:
    print(col)

idchild
weight8600
momid
year
hrswrinew
wksuni
totamud
totamusd
totwead
cpi
cpily
ageofrimp
totweadimp2
rtotweadimp2
maxndep
maxndeply
earnincrimp
earnincsimp
earnincrsimp
unearnincrsimp
nontaxincrsimp
hgcbym79
hgcbyf79
race
afqt
liveboth
afqtadj
samprandom
samprandwhite
sampnmwhite
sampnmblack
sampnmhisp
sampnm
sampblau
male
black
hispanic
other
numofa
motstg
fatstg
piamatsn
piarersn
piarecsn
hgcbyfmis
hgcbymmis
state
marrlyimp
ed1age23
ed2age23
ed3age23
ed4age23
yrsbirth
statefips
mstat
depx
agex
pwages
swages
dividends
otherprop
pensions
gssi
transfers
rentpaid
proptax
otheritem
childcare
ui
depchild
mortgage
stcg
ltcg
afqtadjmiss
rural14miss
livebothmiss
fatstgmiss
motstgmiss
numofamiss
yy1
yy2
yy3
yy4
yy5
yy6
yy7
yy8
yy9
yy10
yy11
yy12
yy13
yy14
yy15
yy16
yy17
yy18
yy19
yy20
yy21
yy22
ss1
ss2
ss3
ss4
ss5
ss6
ss7
ss8
ss9
ss10
ss11
ss12
ss13
ss14
ss15
ss16
ss17
ss18
ss19
ss20
ss21
ss22
ss23
ss24
ss25
ss26
ss27
ss28
ss29
ss30
ss31
ss32
ss33
ss34
ss35
ss36
ss37
ss38
ss39
ss40
ss41
ss42
ss43
ss44
ss45
ss46
ss47
ss48
ss49
ss50
ss51
ss52
sped0mm2
sped1mm2
sped2mm2
sped3mm2
sped4mm2
ddd1
ddd3
ageofsnew
spmissage